name: Build

on:
  push:
    branches: master 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build
      run: |
        mvn clean compile package -pl Plugin -B --also-make "-Dorebfuscator-version=$(git describe --tags `git rev-list --tags --max-count=1`)"
        mkdir dist
        mv Plugin/target/orebfuscator-*.jar ./dist
    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
        name: Plugin
        path: dist/
